.inner-div {background: #505773;
    height: 300px;
    width: 500px;
}
.fiveth-section-second-div{margin-top: -120px;}
.outer-div{margin-top: -160px;}
.fiveth-section-first-div{height: 230px;}
	.first-header-image {border-left: solid 35px #505773;}
	.first-header-text button{background-color:#e8b75d;border-color: #e8b75d;    border-radius: 30px;}
	.first-header-text{    border-left: solid 20px #ecba01;}
		.first-header-text h4 {
		    font-size: 35px;
		    margin: 0;
		    font-weight: 100;
		}
.first-header-text h2 {
    font-size: 51px;
    margin: -17px 0 0 0;
    font-weight: bold;
}
.about .about-info p {
    font-size: 17px;
    margin: 0 0 16px 0;
}
.main{overflow-x: hidden;}

.third-section-div div:not(.btn-yl) {
    background: #d5d8e1;
    padding: 22px 30px !important;
    text-align: left;
}

.section-third-div{border: 20px solid #d5d8e1;}

.section-second img{border-top: solid 10px #e8b75d;}
.header{color: #505773;}
.button-class{background-color: #e8b75d;
    border-color: #e8b75d;
    border-radius: 30px;
}

	@media only screen and (max-width: 768px) {
		.section-third-div img{height: 340px;}
		.outer-div {
    margin-top: 25px;
}
.inner-div {
    background: #505773;
    height: 295px;
    width: 371px;
}
  
    .first-header-text h4{font-size: 2rem;    margin-top: 18px;font-weight: 100;}

	.first-header-text h2{font-size: 2rem}
  
}


.fiveth-section-first-div{background: #d5d8e1;}

.h2-tag{font-size:33px;}


.main-section-oracle .first-header-text {
    text-align: left;
    padding: 70px 15px 30px !important;
}
.main-section-oracle .first-header-text button {
    color: #000;
    padding: 9px 48px !important;
    font-size: 17px;
    background: #ecba01;
    font-weight: bold;
}

.section-second-div h2 {
    font-weight: bold;
    color: #1f1f1f;
    font-size: 29px;
}

.third-section-div div h2 {
    font-size: 28px;
    font-weight: bold;
    color: #505773;
 
}
.third-section-div div p { font-size: 18px !important; text-align: justify;color: #000; }


.third-section-div div button {
    background: #ecb906;
    color: #1f1f1d;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    padding: 11px 33px !important;
    box-shadow: 0px 2px 3px rgba(0,0,0, 0.2);
}


.yellow-buton {
    background: #ecb906;
    color: #1f1f1d;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    padding: 11px 33px !important;

}


.section-third-div {
    border: 20px solid #d5d8e1;
    background: #fff;
    padding: 20px 26px 10px;
}

.img-dv-thre {
    margin: 0 0 -10px 0;
}

.fourth-inner {
    text-align: left;
}

.bold-heading {
    font-weight: bold;
    color: #4f5672;
}
.bold-para {
    font-size: 16px !important;
    color: #000;
}
.six-section-div [class*="col"]  {
    padding: 0 2px;
}
.six-section-div .row{ margin-left: -2px; margin-right: -2px; }
